  <h2>店舗名：<%= @store.store_name %></h2>
  <ul>
    <li>メールアドレス：<%= @store.email %></li>
    <li>住所：</li>
    <li>電話番号</li>
    <li>担当者名：</li>
  </ul>

  <h2>登録しているアクティビティ</h2>
  <% @activities.each do |activity| %>
    <p><%= link_to "#{activity.title}","/activities/#{activity.id}" %></p>
  <% end %>

<%= link_to 'トップへ戻る', '/' %>