/*===============================================
画面の横幅が641px以上
===============================================*/
@media screen and (min-width: 641px){
.pankuzu{
	width:100%;
	background:#f1f1f1;
	line-height:30px;
}
.pankuzu a{
	color:#1C998F;
	font-weight:bold;
}
.pankuzu a:first-child{
	margin-left:0;
}

.fa-angle-right{
	margin:0 8px;
	color:#333;
}
.listmain {
	position:relative;
	overflow:hidden;
	margin-bottom:40px;
}
.listmain img{
	width:100%;
	margin-bottom:10px;
}
.listmain h2{
	position:absolute;
	line-height:300px;
	color:#FFF;
	z-index:1;
	right:30px;
	font-size:36px;
	text-shadow: 1px 1px 3px #000;
}
.list {
	overflow:hidden;
}
.list h2{
	background:#f1f1f1;
	padding:10px 10px;
	border-radius: 5px;
}
.list ul li{
	display:block;
	padding:40px 0;
border-bottom:1px solid #f1f1f1;
	overflow:hidden;
	position:relative;
}
.list ul li img{
	display:inline-block;
	width:35%;
	float:left;
	margin-right:10px;
}
.listpostitle{
	font-weight:bold;
	font-size: 1.2rem;
	display:block;
}
.listfacilityname{
	display:block;
	text-align:right;
	color: #ccc;
	font-size:80%;
}
.listaddress{
	display:block;
	text-align:right;
	margin-bottom:5px;
	font-size:80%;
}
.listaddress a{
	text-decoration:underline;
	font-weight:bold;
	color:#1C998F;
	
}
.listprice{
	padding-top:5px;
	display:inline-block;
	font-weight:900;
	font-size:1.0rem;
	letter-spacing:0.1rem;
	font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-style:oblique;
	margin-left:20px;
}
.notax{
	font-size:80%;
}

.list .posticon{
	display:inline-block;
	float:left;
	padding-top:6px;
}
.listmore{
	margin-top:5px;
	line-height:25px;
	float:right;
	font-weight:bold;
	font-size:90%;
}
.fa-angle-double-right{
	padding-right:5px;
}
.listmore a{
	display:inline-block;
	background:#FF4355;
	color:#FFF;
	    transition: all 0.2s linear 0s;
		padding:0 10px;
		border-radius: 5px;
}
.listmore a:hover{
	text-decoration:underline;
	
}
.listmore .fa-angle-double-right{
	color:#FFF;
}
.listnavi{
	display:block;
}
.listnavi a{
	color:#1C998F;
	text-decoration:underline;
}
.listnavi .listcount{
	float:right;
}
.listcalendar{
	display:block;
	margin-bottom:5px;
	overflow:hidden;
}
.listcalendar ul li{
	background:#f1f1f1;
	float:left;
	width:73.5px;
	box-sizing:border-box;
	font-size:75%;
	text-align:center;
	overflow:hidden;
	padding:1px;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}
.listcalendar ul li:first-child{
	border-left:1px solid #ccc;
}
.listcalendar ul li:last-child{
	width:75.5px;
}
}
/*===============================================
画面の横幅が640pxまで
===============================================*/

@media screen and (max-width: 640px){
.pankuzu{
	padding:50px 10px 0 10px;
	box-sizing:border-box;
	width:100%;
	background:#f1f1f1;
	line-height:30px;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.pankuzu a{
	color:#1C998F;
	font-weight:bold;
}
.pankuzu a:first-child{
	margin-left:0;
}
.fa-angle-right{
	margin:0 8px;
	color:#333;
}
}