@charset "utf-8";
@media screen and (min-width: 641px){
  
*{margin:0;padding:0;}

html{background:#ffffff;}

body{
color: #333;
    font-family: "YuGothic","Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 1.5;
    text-rendering: optimizelegibility;
min-width:1100px;
}

body#sub {
background: url(images/header_sub.png) repeat-x;
}

a{color:#333;text-decoration:none;}
a:hover{color:#1BA196;text-decoration:underline;transition: color .3s;}
a:active, a:focus {outline: 0;}
img{border:0;vertical-align: bottom;}
.clear{clear:both;}
p{}
.center{text-align:center;}
.right{text-align:right;}

li{
	list-style:none;
}
iframe{
vertical-align:bottom;
}
 /*IE10以降に適用されるCSSハック（一応）*/
@media all and (-ms-high-contrast:none){
.button01 {
	margin-top:20px;
    border-radius: 4px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.08) inset;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 86px;
	
}
}
 
/*IE11だけに適用されるCSSハック*/
@media all and (-ms-high-contrast:none){

.button01 {
	margin-top:20px;
    border-radius: 4px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.08) inset;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 86px;
	
}
}
.none{
	display:none;
}
.suzi{
	font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-style:oblique;
	font-weight:bold;
}

/*******************************
全体幅
*******************************/
#container, .inner{
margin: 0 auto;
width: 1100px;
}
#header{
	width:100%;
    height: 80px;
    border-bottom: 1px solid #d6d6d6;
}
/*******************************
/* ヘッダー
*******************************/
#headerupper{
	width:100%;
	height:25px;
	background:#F1F1F1;
	border-bottom:3px solid #1BA196;
}
#headerupper .inner{
	position:relative;
}
#headerupper h1{
	font-size:12px;
	line-height:25px;
	float:left;
}
#headerupper .hdupnav{
	position:absolute;
	right:0;
}
#headerupper .hdupnav ul li{
	float:left;
	line-height:25px;
	width:auto;
	margin-left:10px;
	box-sizing:border-box;
	text-align:center;
	font-size:90%;
	}
#headerupper .hdupnav ul li:last-child{
	border-right: none;
}
#headerupper .hdupnav ul li a{
	display:block;
	color: #555;
	font-weight:bold;
}
#headerupper .hdupnav ul li a:hover{
	text-decoration:none;
}

/* リンク色 */
.green{
	color:#1C998F;
}
.blu{
	color:#00AEEF;
}
.pink{
	color:#FF4355;
}
.org{
	color:#ff8a65;
}
/* 文字の大きさ */
.f10{
	display:block;
	font-size:10px;
}
/* ヘッダー中核 */


#header .inner{
	position:relative;
}
#header .inner .hdup{
position:relative;
height: 100px;
}
#header h1,#header h2{
font-weight:normal;
position:absolute;
top:0;
color: #333;
font-size: 10px;
line-height: 21px;
}

/* ロゴの位置 */
#header h2{top: 17px;}

#header .inner .nav{
	position:absolute;
	right:0;
}
#header .inner .nav ul {
	line-height:80px;
}
#header .inner .nav ul li{
	float:right;
	margin-left:15px;
	text-align:right;
	box-sizing:border-box;
}
#header .inner .nav ul li img{
	vertical-align:middle;
	margin-right:5px;
}
#header .inner .nav ul li:last-child{
	
}
#header .inner .nav ul li a{
	font-weight:bold;
	display:inline-block;
}
#header .inner .nav ul li a:hover{
	text-decoration:none;
	color:#333;
}



 
/************************************
/* ボタン
************************************/
.btncol_01 {
    background: #FF4355 none repeat scroll 0 0;
    color: white;
}
.btncol_02 {
    background: #1E9A8F none repeat scroll 0 0;
    color: white;
	margin-left:20px;
}
.button01 {
    border-radius: 4px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.08) inset;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 86px;
	
}
#header .inner .nav ul li a:hover.button01 {
	color:#FFF;
	opacity:0.8;
}
	
/************************************
/* メインナビゲーション
************************************/


/*******************************
メイン画像
*******************************/

#mainImage{
	height:600px;
	position:relative;
	width:100%;
}
#mainImage ul li{
	height:600px;
	width:100%;
	 -webkit-animation: inout 20s;
  -moz-animation: inout 20s;
  animation: inout 20s;
}

.mainimg1{background:no-repeat center center;}
.mainimg2{background:no-repeat center center;}
.mainimg3{background:no-repeat center center;}
.mainimg4{background:no-repeat center center;}

.mainimg1{background-image: url(mainbg1.jpg);}
.mainimg2{background-image: url(mainbg2.jpg);}
.mainimg3{background-image: url(mainbg3.jpg);}
.mainimg4{background-image: url(mainbg4.jpg);}

#mainImage .imgup{
	position:absolute;
	z-index:99;
}
@-webkit-keyframes inout {
  0%   { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1.3); }
}
@-moz-keyframes inout {
  0%   { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1.3); }
}
@keyframes inout {
  0%   { transform: scale(1); }
  100%  { transform: scale(1.3); }
}
#mainImage h2{
	position:absolute;
	color:#fff;
	font-size:3rem;
	z-index:99;
	text-align:center;
	width:1100px;
	top:30%;
	text-shadow: 1px 1px 3px #000;
	letter-spacing:0.7rem;
}
#mainImage h2 .subh2{
	margin-top:25px;
	font-size:1rem;
	display:block;
}
#mainImage .topsearcharea{
	display:block;
	margin-top:10px;
	position:absolute;
	text-align:center;
	top:60%;
	z-index:99;
	width:1100px;
}
#mainImage .topsearch{
	font-weight:bold;
	height:50px;
	opacity: 0.9 !important;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 7px 10px;
	border: medium none !important;
	font-size:15px;
	margin-right:20px;
	width:350px;
	 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#mainImage .topsearchbtn{
	height:50px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 7px 10px;
	border: medium none !important;
	font-size:15px;
	width:100px;
	font-weight:bold;
}
input#submit_button {
	background:#FF4355;
	color:#FFF;
	border-radius: 4px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.08) inset;
}
/*******************************
コンテンツ位置
*******************************/
#container{
padding: 40px 0 0 0;
}
#main {
float: right;
width: 810px;
padding-bottom:40px;
font-size:15px;
}

#sidebar {
float: left;
width: 250px;

font-size:13px;
overflow:hidden;
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f1f1f1 #f1f1f1 #e7e7e7;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 2px;
    box-sizing: border-box;
}
/*******************************
見出し
*******************************/
h2 {
	font-size:1.5rem;
	display:block;
	letter-spacing:0.2rem;
	margin-bottom:15px;
}
.fa{
	color:#1C998F;
}
.fa-heart {
	color:#FF4355;
	margin-right:3px;
	margin-left:10px;
}
.fa-star {
	color:#FFF000;
	margin-right:10px;
}
.fa-comment{
	color:#00AEEF;
	margin-right:3px;
}
.fa-search {
	color:#F5568B;
	margin-right:10px;
}
.fa-users{
	color:#FF4355;
	margin-right:10px;
}
.fa-rss {
	margin-right:10px;
}
.fa-caret-right {
	margin-right:10px;
	color:#333;
}
.fa-exclamation-triangle{
	color:#00AEEF;
}
#sidebar h2{
	font-size: 13px;
	letter-spacing: 0.1rem;
	background:#f1f1f1;
	padding:10px;
	margin-bottom:0;
}
/*******************************
サイドバー
*******************************/
#sidebar .eriaside{
	padding:0 10px;
}
#sidebar .eriaside ul li{
	display:block;
	padding:10px 0 10px 5px;
	border-bottom:1px solid #f1f1f1;
}
#sidebar .eriaside ul li:last-child{
	border-bottom: none;
}
#sidebar .eriaside a{
	color:#1C998F;
	font-weight:bold;
}
#sidebar .eriaside a:hover{
	
}
#sidebar .eriaside ul li.sub{
	padding-left:15px;
}

#sidebar .eriaside .sidepricessearch{
	padding:10px;
}
/*******************************
トップページ
*******************************/
.koresuta{
	background:#f6f6f6;
	padding:20px;
	border-radius: 5px;
	margin-bottom:40px;
	font-size:16px;
	border:2px dotted  #f1f1f1;
}
.post {
	overflow:hidden;
	margin-bottom:60px;
}
.post ul{
	overflow:hidden;
}
.post ul li{
	float:left;
	width:260px;
	margin-right:20px;
	border:1px solid #f1f1f1;
	box-sizing:border-box;
	border-bottom: 2px solid #e7e7e7;
	border-radius: 4px;
	margin-bottom:20px;
}
.post ul li:nth-child(4n+4){
	margin-right:0px;
}
.post ul li img {
	width:100%;margin-bottom:10px;
}
.post ul li .textarea{
	padding:10px;
	display:block;
}
.prefecturesarea{
	display:block;font-size:11px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #F1F1F1;
}
.prefectures {
	background:#1C998F;
	color:#FFF;
	width:50px;
	text-align:center;
	padding:1px 0;
	display:inline-block;
	font-weight:bold;
	margin-right:5px;
	 border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.postitle{
	font-weight:bold;
	font-size:15px;
  width: 100%;
}
.postitle　p{
	text-overflow: ellipsis;
overflow:hidden;
}
.posticon{
	float:right;
	font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-weight:800;
	font-style:oblique;
}
.postmore{
	display:block;
	text-align:center;
	font-size:15px;
}
.postmore a{color:#38BC80;text-decoration:underline;}
.postmore a:hover{color:#F5568B;text-decoration:none;}
.morebutton01 a {
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-weight: bold;
    padding: 8px 42px;
}
.postprice{
	display:inline-block;
	font-weight:900;
	float:right;
	font-size:1.0rem;
	letter-spacing:0.1rem;
	font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-style:oblique;
	margin-top:10px;
	line-height:12px;
}
.postcatoya{
	display:block;
	overflow:hidden;
}
.postcat{
	display:inline-block;
	float:left;
	font-size:11px;
	letter-spacing:0.1rem;
	margin-top:11px;
	line-height:12px;
}
figure {
	box-sizing:border-box;
	width: 258px;
	height: 156px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}



/* ⑦⑧⑨⑩triangle */
.point-triangle {
 position: relative;
}
.point-triangle:after {
 position: absolute;
 content: " ";
 height: 0;
 width: 0;
}
.point-triangle span {
 position: absolute;
 content: " ";
 font-size: 12px;
 font-weight: bold;
 color: #fff;
 z-index:100;
}
/* ⑨triangle-lt */
.point-triangle-lt:after {
 top: 0;
 left: 0;
 border-bottom:4em solid transparent;
 border-left:4em solid #FFF000;
}
.point-triangle-lt span {
	color:#333;
 top: .8em;
 left: .30em;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
}
.point-triangle-lt2:after {
 top: 0;
 left: 0;
 border-bottom:4em solid transparent;
 border-left:4em solid #FF4355;
}
.point-triangle-lt2 span {
	color:#fff;
 top: .8em;
 left: .30em;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
}





/* トップページエリア検索 */
.area {
	width:525px;
	overflow:hidden;
	margin-bottom:60px;
	
	margin-right:50px;
}
.areain{
	display:block;
	overflow:hidden;
	line-height:20px;
}
.area h3{
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-right:15px;
	width:75px;
}
.area p{
	margin-bottom:20px;
}
.area a{
	margin-right:8px;
}

/*ACCORDION*/
div.accordion {
  width: 100%;
  margin-bottom:60px;
  overflow:hidden;
}
div.accordion > ul > li > a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  padding: 5px 12px;
  position: relative;
  pointer-events: none;
  border-radius: 5px;
  font-weight:bold;

}
div.accordion > ul > li > a:hover{
	color:#333;
 
}
div.accordion > ul > li > a:after, div.accordion > ul > li > a.active:after{
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 16px;

}

div.accordion > ul > li > ul {
	overflow:hidden;
	margin-bottom:10px;
	margin-top:10px;
  
}
.eriatop{
	float:left;
	width:48%;
	overflow:hidden;
}
.eriatop2{
	float:right;
	width:48%;
	overflow:hidden;
}
div.accordion > ul > li > ul > li > a{
	display:inline-block;
	float:left;
 
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  padding: 6px 10px;
  position: relative;
}
div.accordion > ul > li > ul > li > a:hover{

}

/* トップページニュース */
.news{
	width:100%;
	box-sizing:border-box;
		background:#f1f1f1;
		padding:20px;
		 border-radius: 5px;
		 margin-bottom:40px
}
.news h2{
	border-bottom:1px solid #FFF;
	padding-bottom:10px;
	margin-bottom:20px;
	position:relative;
}
.news h2 .newsmore{
	position:absolute;
	right:0;
	font-size:13px;
	line-height:30px;
}
.news ul{
	
padding:20px;
	background:#FFF;
}
.news ul li{
	display:block;
	line-height:20px;
	margin-bottom:20px;
	

}
.news ul li:last-child{
	margin-bottom:0;
}
.news ul li .data{
	display:inline-block;
	float:left;
	margin-right:20px;
}
/*************
サイド（右側）コンテンツ
*************/
#sidebar p{margin-bottom:20px;}


/*******************************
/* フッター
*******************************/
#footerUpper{
clear:both;
padding: 40px 0 20px 0;
overflow: hidden;
background:#f1f1f1;
}

#footerUpper .inner{

}

#footerUpper .inner .ftmenu{

}
#footerUpper .inner .ftmenu h2{
	 display:inline-block;
	 float:left;
	 line-height:30px;
}
#footerUpper .inner .ftmenu .menulist {
	display:inline-block;
	float:right;
	line-height:30px;
}
#footerUpper .inner .ftmenu .menulist a{
	margin-left:20px;
}

#footerUpper .sns{
	background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
	box-sizing:border-box;
	overflow:hidden;
	margin-bottom:40px;
}
#footerUpper .sns img{
	float:left;
	display:inline-block;
}
#footerUpper .snsmozi{
	display:inline-block;
	margin:0 19px;
	font-size:1.0rem;
	float:left;
	line-height:72px;
}
/*Safariだけに適用されるCSSハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::#footerUpper .snsmozi{
	display:inline-block;
	margin:0 17px;
	font-size:1.0rem;
	float:left;
	line-height:72px;
}
}
#footerUpper .buttons-sns{
	  border-top: medium none;
	display:inline-block;
	margin-left:0px;
	line-height:72px;
	padding-top:25px;
}
	
#footerLower{
clear:both;
padding:20px 20px 20px 20px;
text-align:center;
background:#666;
}
#footerLower img{
	margin-bottom:20px;
}
address{
color: #fff;
letter-spacing:0.2rem;
font-style:normal;
font-size:13px;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 5%;
    
}
#page-top a {
	 box-shadow:0px 0px 2px;
     background: #FF4355;
    text-decoration: none;
    color: #fff;
    width: 60px;
	height:60px;
	 line-height:55px;
    text-align: center;
    display: block;
    border-radius: 50%;        /* CSS3草案 */  
    -webkit-border-radius: 50%;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 50%;   /* Firefox用 */ 
	font-size: 30px;
}

.fa3 {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}