<dl>
<dt><a href="javascript:void(0);"><i class="fa fa-map-marker" aria-hidden="true"></i>
アクセス・地図</a></dt>
<dd>

<h3>アクセス方法</h3>
<span class="st">住所</span><p>茨城県常陸太田市天下野町2133-6</p>
<span class="st">お車でお越しの方</span>
<p>関越自動車道「水上IC」より国道291号線経由で約10分

【駐車場について】※約50台分の無料の駐車スペースあり
橋を渡りきったら左折し、すぐ右手にある「みなかみの森」駐車場をご利用ください。
そこから徒歩3分です。大型バスの駐車も可能です。</p>
<h3>MAP</h3>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6392.818297188053!2d138.974022!3d36.760751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDQ1JzM5LjIiTiAxMzjCsDU4JzI3LjYiRQ!5e0!3m2!1sja!2sus!4v1475059512804" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></div>

</dd>
</dl>
