<div class="tabAccordion">
<dl>
<dt><a href="javascript:void(0);"><i class="fa fa-flag" aria-hidden="true"></i>
プラントップ</a></dt>
<dd>

<ul class="slider lazy-item">
  <li class="trim"><a href="#"><img src="images/posttest1.jpg" alt=""  /></a></li>
  <li class="trim"><a href="#"><img src="images/posttest2.jpg" alt=""  /></a></li>
  <li class="trim"><a href="#"><img src="images/posttest3.jpg" alt=""  /></a></li>
  <li class="trim"><a href="#"><img src="images/posttest4.jpg" alt=""  /></a></li>
  <li class="trim"><a href="#"><img src="images/posttest5.jpg" alt=""  /></a></li>
</ul>
 
<h3>プラン詳細</h3>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<h3>プラン詳細</h3>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</dd>
</dl>
